button{
    font-size: 21px;
    width: 500px;
    margin-left: 618px;
    height: 46px;
    text-align: center;
    background: #1b3e58;
    border: 1px solid white;
    border-radius: 17px;
    cursor: pointer;
}
button:hover{
    background: #fff;
}
label{
    font-size: 25px;
    padding: 11px;
    font-weight: bold;
 
}
input{
    height: 32px;
    font-size: 23px;
 
}