
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Google Maps</div>
        <div class=" card-body"><div class=" map" id="map" style="    height: 569px !important;"></div></div>
      </div>
    </div>
  </div>
  <label for="party">Veuillez saisir une date et une heure pour la rendez vous :</label>
<input id="party" type="datetime-local" name="partydate" value="2017-06-01T08:30">
 
 <div class="col-12">
   <button (click)="rendezVous()"> Rendez Vous</button>
 </div>
 
</div>

 
